*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8e9d2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}
.box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: relative;
}
.box img {
    max-width: 100%;
    border-radius: 10px;
}
.box h2 {
    margin: 20px 0;
    font-size: 1.5em;
    color: #333;
}
.box .icon {
    font-size: 3em;
    margin-bottom: 10px;
}
.logo {
    grid-column: span 3;
    text-align: center;
}
.logo img {
    max-width: 200px;
}
.plus {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: #333;
}
.container div img{
    width: 150px;
    border-radius: 100px;
}
.container a{
    text-decoration: none;
}